<h1>User info</h1>
<%= image_tag user.get_profile_image(100, 100) %>
  <table class="table table-striped">
    <p>name</p>
    <%= user.name %>
    <p>introduction</p>
    <%= user.introduction %>
  </table>
  <p><%= link_to "user編集", edit_user_path(@user.id) %></p>

<h1>New book</h1>
<% if book_new.errors.any? %>
  <%= book_new.errors.count %>件のエラーが発生しました<br>
  <% book_new.errors.full_messages.each do |message| %>
    <%= message %><br>
  <%end%>
<%end%>

<%= form_with model: book_new, url:books_path, method: :post  do |f| %>
  <label for= "inputTitle">Title</label><br>
    <%= f.text_field :title %><br>
  <label for= "inputOpinion">Opinion</label><br>
    <%= f.text_field :opinion %><br>
  <%= f.submit "create book" %>
<% end %>
