<h1>User info</h1>
<%= image_tag user_self.get_profile_image(100, 100) %>
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th><%= user_self.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user_self.introduction %></th>
      </tr>
    </thead>
  </table>
  <%= link_to edit_user_path(user_self.id), class: "btn btn-sm, btn-success", method: :get do %>
    <i class="fa-solid fa-user-gear"></i>
  <%end%>


<h1>New book</h1>
<% if book_new.errors.any? %>
  <%= book_new.errors.count %>件のエラーが発生しました<br>
  <% book_new.errors.full_messages.each do |message| %>
    <%= message %><br>
  <%end%>
<%end%>

<%= form_with model: book_new, url:books_path, method: :post  do |f| %>
  <label for= "inputTitle">Title</label><br>
    <%= f.text_field :title %><br>
  <label for= "inputOpinion">Opinion</label><br>
    <%= f.text_field :opinion %><br>
  <%= f.submit "create book" %>
<% end %>
