<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>
  <label for= "inputTitle">Title</label><br>
    <%= f.text_field :title %><br>
  <label for= "inputOpinion">Opinion</label><br>
    <%= f.text_field :opinion %><br>
  <%= f.submit "Update Book" %>
<% end %>

<%= link_to "show", book_path(current_user) %>
<%= link_to "Back", books_path %>
