<div class="row">
  <div class="col-lg-6">
    <%= render "user_info",user: @user, book_new: @book_new %>
  </div>

  <div class="col-lg-6">
    <h1>Book detail</h1>
    <table class="table table-striped">
      <%= image_tag @user.get_profile_image(100, 100) %>
      <%= link_to @user.name, user_path(@user.id) %>
      <%= link_to @book.title, book_path(@book.id) %>
      <%= @book.opinion %>
      <%= link_to "Edit", edit_book_path(@book.id) %>
      <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "are you sure?" %>
    </table>
  </div>
</div>
