<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <%= render "layouts/user_info",user: @user, book_new: @book_new %>
    </div>

    <div class="col-lg-8">
      <h1>Book detail</h1>
      <table class="table">
        <tr>
          <th>
            <%= image_tag @user_self.get_profile_image(100, 100) %><br>
            <%= link_to @user_self.name, user_path(@user_self.id) %>
          </th>
          <th><%= link_to @book.title, book_path(@book.id) %></th>
          <th><%= @book.body %></th>
        <% if @book.user == current_user %>
          <th><%= link_to "Edit", edit_book_path(@book.id) %></th>
          <th><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "are you sure?" %></th>
        <%end%>
        </tr>
      </table>
    </div>
  </div>
</div>

