

<h1>User info</h1>
<%= image_tag user.get_profile_image(100, 100) %>
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </thead>
  </table>
    <%= link_to edit_user_path(user.id), class: "btn btn-sm, btn-success", method: :get do %>
      <i class="fas fa-user-cog"></i>
    <%end%>

<h1>New book</h1>
<%= form_with model: book_new, url:books_path, method: :post  do |f| %>
  <label for= "inputTitle">Title</label><br>
    <%= f.text_field :title %><br>
  <label for= "inputOpinion">Opinion</label><br>
    <%= f.text_field :body %><br>
  <%= f.submit "Create Book", class: "btn btn-success" %>
<% end %>
