<!DOCTYPE html>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <h2><%= link_to "Bookers", root_path  %></h2>

    <% if user_signed_in? %>
      <%= link_to user_path(current_user.id) do %>
        <li>
          <i class="fas fa-home"></i>
          <%= "Home" %>
        </li>
      <%end%>
      <%= link_to users_path do %>
        <li>
          <i class="fas fa-users"></i>
          <%= "Users" %>
        </li>
      <%end%>
      <%= link_to books_path do %>
        <li>
          <i class="fas fa-book-open"></i>
          <%= "Books" %>
        </li>
      <%end%>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <li>
          <i class="fas fa-sign-out-alt"></i>
          <%= "Log out" %>
        </li>
      <%end%>

    <% else %>
      <%= link_to root_path do %>
        <li>
          <i class="fas fa-home"></i>
          <%= "Home" %>
        </li>
      <%end%>
      <%= link_to about_path do %>
        <li>
          <i class="fas fa-link"></i>
          <%= "About" %>
        </li>
      <%end%>
      <%= link_to new_user_registration_path do %>
        <li>
          <i class="fas fa-user-plus"></i>
          <%= "Sign up" %>
        </li>
      <%end%>
      <%= link_to new_user_session_path do %>
        <li>
          <i class="fas fa-sign-in-alt"></i>
          <%= "Log in" %>
        </li>
      <%end%>
    <% end %>

    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: message_type %>
    <%end%>

  </head>



  <body>
    <%= yield %>

    <footer>
      <div class= "container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
